body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.xobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: #e3e3e3;
  width: 85px;
  height: 85px;
  text-align: center;
  /* align-items: center; */
  /* align-items: ; */
  margin: 10px;

  font-family: "Permanent Marker", cursive;
}

.green {
  color: green;
}

.red {
  color: red;
}
